<div class="site-about">
    <h1>{{ title|e }}</h1>
    <nav>{{ breadcrumbs|join(' > ') }}</nav>

    <p>
        This is the About page. You may modify the following file to customize its content:
    </p>

    <code>{{ __FILE__ }}</code>
</div>
